@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* availeble fonts
    - Inter
    - Noto Sans JP
    - Poppins
*/

:root {
  --main_color: #377cf7;
  --main_color_weak: #a1b4d427;
  --card_bg: #f1f1f1;
  --body_bg: #ffffff;
  --text_color: #111111;
  --text_color_weak: #737577;
  --lines_color: #ececec;
  --red: #ff0000;
  --red_weak: #ff000017;
  --green: #008000;
  --green_weak: #00800017;
}

body.dark {
  --main_color: #377cf7;
  --main_color_weak: #8c9ab327;
  --card_bg: #2c2c31;
  --body_bg: #212225;
  --text_color: #ffffff;
  --text_color_weak: #b0b0b0;
  --lines_color: #35353d;
  --red: #ed7878;
  --red_weak: #d371712f;
  --green: #73bd73;
  --green_weak: #74c57427;
}

body {
  color-scheme: light dark;
  overflow: hidden !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text_color);
}

button,
a,
ul,
li {
  list-style: none !important;
  text-decoration: none !important;
  outline: none !important;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  overflow: hidden !important;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
}

/* sidebar */
.sidebar {
  width: 260px;
  height: 100svh;
  position: sticky;
  top: 0;
  background-color: var(--body_bg);
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  transition: 0.1s;
  border-right: 1px solid var(--lines_color);
}

.sidebar .bottom_links {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 4px;
  padding-bottom: 16px;
  margin-top: 10px;
}

.sidebar .logo {
  width: 100%;
  height: fit-content;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins";
  color: var(--text_color_weak);
}

.sidebar .section_title {
  color: var(--text_color_weak);
  margin-bottom: 6px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

.sidebar .link {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  color: var(--text_color_weak);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
  transition: 0.3s;
  &&:hover {
    background-color: var(--card_bg);
  }
}

.sidebar .link.no_hover {
  user-select: none;
  cursor: pointer;
  &&:hover {
    /* background-color: transparent !important; */
  }
}

.sidebar .link div {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}

.sidebar .link div span {
  font-size: 13px;
  color: var(--text_color_weak);
  padding: 3px 6px;
  border-radius: 7px;
  font-weight: 400;
}

.sidebar .link.small i {
  font-size: 22px;
  max-width: 20px;
}

.sidebar .separator {
  width: 100%;
  height: 1px;
  background-color: var(--lines_color);
  margin: 18px 0;
}

.sidebar .link i {
  font-size: 20px;
  color: var(--text_color_weak);
}

.sidebar .link.active,
.sidebar .link.active i {
  font-weight: 500;
  background-color: var(--main_color);
  color: white;
  &&:hover {
    background-color: var(--main_color);
  }
}

/* Minimal toggle switch styles */
.switch {
  position: relative;
  width: 44px;
  height: 24px;
  overflow: clip;
  background-color: transparent !important;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lines_color);
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--main_color);
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* main content */
.content {
  background-color: var(--card_bg);
  height: 100svh;
  flex: 1;
  transition: 0.1s;
  overflow: auto;
}

.navbar .menu {
  display: flex;
  gap: 10px;
}

.menu i {
  font-size: 24px;
  cursor: pointer;
  display: none;
  &&:hover {
    color: var(--main_color);
  }
}

.navbar_logo .logo {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins";
  color: var(--text_color_weak);
  display: none;
}

/* navbar */
.navbar {
  width: 100%;
  height: fit-content;
  min-height: 68px;
  padding: 12px 20px;
  background-color: var(--body_bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 30px;
}

.navbar h3 {
  color: var(--text_color_weak);
  font-weight: 500;
  font-size: 20px;
}

.navbar .search_container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.navbar .search {
  background-color: var(--card_bg);
  height: 44px;
  width: 100%;
  max-width: 320px;
  border: 1px solid transparent;
  outline: none;
  padding: 0 48px 0 20px;
  border-radius: 50px;
  font-size: 14px;
  &&::placeholder {
    color: var(--text_color_weak);
  }
  &&:focus {
    border-color: var(--lines_color);
  }
}

.navbar .search_container i {
  position: absolute;
  top: 28%;
  bottom: 0;
  right: 16px;
  margin: auto;
  font-size: 20px;
  color: var(--text_color_weak);
}

.content_body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.upper,
.bottom {
  display: flex;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  /* gap: 20px; */
}
.bottom {
  padding-top: 0;
}

/* insight_cards */
.insight_cards {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.chart {
  width: 100%;
  background-color: var(--body_bg);
  padding: 30px;
  border-radius: 20px;
}

.grid {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--body_bg);
  border-radius: 26px;
}

.card {
  background: var(--card_bg);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card .icon {
  background-color: var(--main_color_weak);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.card .icon i {
  color: var(--main_color);
  font-size: 20px;
  opacity: 0.9;
}

.card h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--text_color_weak);
}

.value {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.change {
  font-size: 0.9rem;
  margin-top: 12px;
  color: var(--text_color_weak);
}

.up span {
  color: var(--green);
  background-color: var(--green_weak);
  padding: 3px 5px 3px 7px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 4px;
}

.down span {
  color: var(--red);
  background-color: var(--red_weak);
  padding: 3px 5px 3px 7px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 4px;
}

.change span {
  margin-left: 0.3rem;
}

.bottom .chart {
  width: 100%;
  height: 400px;
}

/* tansactions */
.category_list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.category_list div {
  background-color: var(--card_bg);
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.category_list div:hover {
  background-color: var(--main_color);
  color: #fff;
}

.category_list .active {
  background-color: var(--main_color);
  color: white;
}

.table {
  width: 100%;
  overflow-x: auto;
}

.data_table {
  width: 100%;
  border-collapse: collapse;
}

.data_table th,
.data_table td {
  border: 1px solid var(--lines_color);
  padding: 8px 12px;
  text-align: left;
}

.data_table th {
  white-space: nowrap;
}

.data_table tr:hover {
  background-color: var(--card_bg);
  cursor: pointer;
}

.data_table thead tr:hover {
  background-color: var(--body_bg);
  cursor: text;
}

.table_body td {
  color: var(--text_color_weak);
}

.table_body td.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: var(--body_bg);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 12px;
  position: relative;
}

.modal_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 26px;
  cursor: pointer;
  &&:hover {
    color: var(--main_color);
  }
}

.content_body.transactions {
  padding: 20px;
}

.content_table {
  background-color: var(--body_bg);
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .upper,
  .bottom {
    grid-template-columns: 100%;
    gap: 20px;
  }
  .insight_cards {
    padding-right: 0px;
  }

  .chart canvas {
    height: 1200px;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: -100%;
  }
  .sidebar.open {
    left: 0;
  }
  .menu i {
    display: flex;
  }
  .navbar h3 {
    display: none;
  }
  .navbar_logo .logo {
    display: flex;
  }
}
